.blur {
  overflow-y: hidden;
  height: 100vh;
  background-image: url("/board.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;

  .bolDiv {
    cursor: pointer;
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 100px;
    left: 280px;
  }
}
