.blur {
  overflow-y: hidden;
  height: 100vh;
  background-image: url("/board.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;

  .bolDiv {
    cursor: pointer;
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 70px;
  }
}

@media (max-width: 1023px) {
  .blur {
    height: 66vh;
    background-image: url("/board-sm.jpeg");
    background-size: contain;
    background-repeat: repeat-x;
    box-shadow: 0 0 10px 16px #131e50 inset;
  }
}
